<ion-pane>
  <ion-content>
    <div class="backbutton">
      <a href="../general.html">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 197.402 197.402" style="enable-background:new 0 0 197.402 197.402;" xml:space="preserve" width="20px" height="20px"> <polygon points="146.883,197.402 45.255,98.698 146.883,0 152.148,5.418 56.109,98.698 152.148,191.98"/></svg>
        General</a>
    </div>
    <h1 class="procedure-title">Duck and Cover</h1>
    <div class="content-wrapper">
      <p class="desc">
        Duck and cover is an evasive action to ensure the safety of staff and students by shielding themselves during a potentially life threatening incident.
      </p>
      <h2 class="section-heading">Action Steps: </h2>
      <ul class="action-steps">
        <li>Students will move to and face the designated wall if available.</li>
        <li>Kneel with hands cupped behind head.</li>
        <li>Body is bent forward toward the floor.</li>
        <li>Students are to remain quiet until instructed otherwise.</li>
      </ul>
    </div>
    <div class="footer">
      &copy; Studio C 2016
    </div>
  </ion-content>
</ion-pane>

