<ion-pane>
  <ion-content>
    <div class="backbutton">
      <a href="../general.html">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 197.402 197.402" style="enable-background:new 0 0 197.402 197.402;" xml:space="preserve" width="20px" height="20px"> <polygon points="146.883,197.402 45.255,98.698 146.883,0 152.148,5.418 56.109,98.698 152.148,191.98"/></svg>
        General</a>
    </div>
    <h1 class="procedure-title">Weapon Use on Campus</h1>
    <div class="content-wrapper">
      <p class="desc">
        Evacuation is the movement of all students and staff out of the facility as quickly and orderly as possible. This movement is initiated when there is a threat in or near the facility and it is safer for students to move away from the building rather than remaining. Typically, students and staff will move to the designated Staff-Student Staging Area. At this location, attendance is taken and decisions can be made as to whether there will be movement to the Family Reunification Site or return to the school.
      </p>
      <h2 class="section-heading">Action Steps: </h2>
      <h3 class="section-subheading">Teacher/Staff Must Respond By:</h3>
      <ol class="action-steps">
        <li>Line up students.</li>
        <li>Take Classroom Evacuation Kit.</li>
        <li>Visually sweep the classroom making sure it is clear.</li>
        <li>Lock the door only if the fire is NOT in your room.</li>
        <li>Power walk with a sense of urgency.</li>
        <li>Ensure care for those students with special needs.</li>
        <li>Enforce Student Code of Conduct. Use constant verbal instructions.</li>
        <li>Conduct Staff and Student Accounting.</li>
        <li>Remain with the students at all times. Assure the students that they are safe.</li>
        <li>Do not use cell phones during an emergency unless there is a life-threatening medical emergency.</li>
        <li>Do not dismiss any students until the official word from Site Administrator is given.</li>
        <li>If student(s) leave without permission, note the time and describe the manner in which the student(s) left and the person(s) with whom they left.</li>
        <li>13. Take notes, names, and descriptions of any unusual events that occur.</li>
        <li>Refer all media inquiries to site’s School Administrator.</li>
      </ol>
    </div>
    <div class="footer">
      &copy; Studio C 2016
    </div>
  </ion-content>
</ion-pane>

