<ion-pane>
  <ion-content>
    <div class="backbutton">
      <a href="index.html">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 197.402 197.402" style="enable-background:new 0 0 197.402 197.402;" xml:space="preserve" width="20px" height="20px"> <polygon points="146.883,197.402 45.255,98.698 146.883,0 152.148,5.418 56.109,98.698 152.148,191.98"/></svg>
        Home</a>
    </div>
    <h1 class="home-title">Risk Management</h1>
    <div class="main-navigation">
      <ul>
        <li><a href="general/duck.html">Duck and Cover</a></li>
        <li><a href="general/evacuation.html">Evacuation</a></li>
        <li><a href="general/hard.html">Hard Lockdown</a></li>
        <li><a href="general/independent.html">Independent Evacuation</a></li>
        <li><a href="general/reverse.html">Reverse Evacuation</a></li>
        <li><a href="general/shelter.html">Shelter-in-Place</a></li>
        <li><a href="general/soft.html">Soft Lockdown</a></li>
        <li><a href="general/staff.html">Staff &amp; Student Accounting</a></li>
      </ul>
    </div>
    <div class="footer">
      &copy; Studio C 2016
    </div>
  </ion-content>
</ion-pane>

