<ion-pane>
  <ion-content>
    <div class="backbutton">
      <a href="../general.html">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 197.402 197.402" style="enable-background:new 0 0 197.402 197.402;" xml:space="preserve" width="20px" height="20px"> <polygon points="146.883,197.402 45.255,98.698 146.883,0 152.148,5.418 56.109,98.698 152.148,191.98"/></svg>
        General</a>
    </div>
    <h1 class="procedure-title">Hard Lockdown</h1>
    <div class="content-wrapper">
      <p class="desc">
        A Hard Lockdown is an emergency lockdown response to an actual emergency situation within the building,  on school grounds, or immediate surroundings of the school. This type of lockdown requires that all staff and students seek as much safety from physical assault as possible by using barriers to sight (hiding behind/away from/beneath) as well as physical barriers. This procedure requires immediate, evasive action on the part of students and staff, and it rapidly enhances the level of security in the building.
      </p>
      <h2 class="section-heading">Action Steps: </h2>
      <h3 class="section-subheading">If outdoors: </h3>
      <ul class="action-steps">
        <li>Independently Evacuate</li>
      </ul>
      <h3 class="section-subheading">If indoors: </h3>
      <ul class="action-steps">
        <li>Move students to a secure location behind a lockable door or Independently Evacuate.</li>
        <li>Lock the door(s).</li>
        <li>Lights Off.</li>
        <li>Cover Windows.</li>
        <li>Students should Duck and Cover.</li>
        <li>Ensure care for those students with special needs.</li>
        <li>Enforce Student Code of Conduct; remain calm and silent.</li>
        <li>Conduct Staff and Student Accounting.</li>
        <li>Teacher/Staff member take evasive action (Duck and Cover).</li>
        <li>Do not open the door for anyone.</li>
        <li>Remain in place if the fire alarm rings; Evacuation will be signaled only by intercom announcement.</li>
        <li>Refer all media inquiries to site’s School Administrator.</li>
      </ul>
    </div>
    <div class="footer">
      &copy; Studio C 2016
    </div>
  </ion-content>
</ion-pane>

