<ion-pane>
  <ion-content>
    <div class="backbutton">
      <a href="../general.html">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 197.402 197.402" style="enable-background:new 0 0 197.402 197.402;" xml:space="preserve" width="20px" height="20px"> <polygon points="146.883,197.402 45.255,98.698 146.883,0 152.148,5.418 56.109,98.698 152.148,191.98"/></svg>
        General</a>
    </div>
    <h1 class="procedure-title">Indepedent Evacuation</h1>
    <div class="content-wrapper">
      <p class="desc">
        Independent Evacuation is the decision made by any employee or student that finds themselves in a potentially dangerous situation in a district owned building or property can, based on sound and reasoned judgment at the moment, safely exit out of harm’s way by means other than a lockdown procedure if such a decision would not bring further harm to said person or put others in an unsafe situation. Such a decision to exit independently does NOT suggest nor imply that one can disregard an order to lockdown and, by doing so, simply chooses to exercise free will, disregard the request, and exit the building. Independent evacuation is an option only if one is alone in the hallway between classes, in a bathroom, etc., any location that separates one from a class or work location.
      </p>
      <h3 class="section-subheading">Once at a safe location: </h3>
      <ul class="action-steps">
        <li>Conduct Staff and Student Accounting.</li>
        <li>Call School Police at 702-799-5411.</li>
        <li>Be prepared to give the following information:</li>
          <ul>
            <li>Your name and the names of any other staff members with you.</li>
            <li>What location (school) you are assigned to.</li>
            <li>Any information you have about the incident.</li>
            <li>Address where you relocated.</li>
            <li>The names of all students with you.</li>
            <li>Ensure care for those students with special needs.</li>
            <li>Refer all media inquiries to site’s School Administrator.</li>
          </ul>
      </ul>
    </div>
    <div class="footer">
      &copy; Studio C 2016
    </div>
  </ion-content>
</ion-pane>

