<ion-pane>
  <ion-content>
    <div class="backbutton">
      <a href="../general.html">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 197.402 197.402" style="enable-background:new 0 0 197.402 197.402;" xml:space="preserve" width="20px" height="20px"> <polygon points="146.883,197.402 45.255,98.698 146.883,0 152.148,5.418 56.109,98.698 152.148,191.98"/></svg>
        General</a>
    </div>
    <h1 class="procedure-title">Reverse Evacuation</h1>
    <div class="content-wrapper">
      <p class="desc">
        Reverse Evacuation Protocol is used when staff and students who are outside of the school facility must be moved as quickly as possible into the school facility for protection. This action is done when there is a potential threat or danger outside of the facility or when a Soft Lockdown or Shelter-In-Place is called. Reverse Evacuation may also be used for a Hard Lockdown if the threat is outside the school.
      </p>
      <h2 class="section-heading">Action Steps: </h2>
      <ol class="action-steps">
        <li>Blow three loud and sharp whistle blasts to get students attention</li>
        </br>(Stop, Look, and Listen).</br>
        <li>Utilize hand signals for direction, urgency, and safety commands.</li>
        <li>Ensure care for those students with special needs.</li>
        <li>Initiate Soft Lockdown or Shelter-in-Place procedures as directed, once in the </li>
      </ol>
    </div>
    <div class="footer">
      &copy; Studio C 2016
    </div>
  </ion-content>
</ion-pane>

