<ion-pane>
  <ion-content>
    <div class="backbutton">
      <a href="../general.html">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 197.402 197.402" style="enable-background:new 0 0 197.402 197.402;" xml:space="preserve" width="20px" height="20px"> <polygon points="146.883,197.402 45.255,98.698 146.883,0 152.148,5.418 56.109,98.698 152.148,191.98"/></svg>
        General</a>
    </div>
    <h1 class="procedure-title">Shelter-in-Place</h1>
    <div class="content-wrapper">
      <p class="desc">
        Shelter-in-Place Protocol occurs when there has been a chemical, biological, or radiological incident outside but in proximity to the school. This procedure is used when there is not adequate time to evacuate the building to a safe location before dangerous contaminants reach the school.
      </p>
      <h2 class="section-heading">Action Steps: </h2>
      <h3 class="section-subheading">Teacher/Staff Must Respond by: </h3>
      <ul class="action-steps">
        <ul>
          <h3 class="section-subheading">If outdoors:</h3>
          <li>Reverse Evacuate</li>
        </ul>
        <ul>
          <h3 class="section-subheading">If in a portable classroom:</h3>
          <li>If safe to do so, Reverse Evacuate</li>
          <li>If you are unable to reverse evacuate into the main building you must turn off the HVAC system and lock and seal all exterior opening doors and windows, any broken windows, and all air vents.</li>
        </ul>
        <ul>
          <h3 class="section-subheading">If indoors:</h3>
          <li>Lock and seal (with plastic and tape) all exterior opening doors and windows and any broken windows.</li>
          <li>Tape inside opening classroom door(s) as an added precaution.</li>
          <li>Conduct Staff and Student Accounting.</li>
          <li>Enforce Student Code of Conduct; remain calm.</li>
          <li>Student movement outside of classroom, if necessary, can only occur within a sealed hallway and only with adult supervision.</li>
          <li>Continue instruction as usual.</li>
          <li>Ensure care for those students with special needs.</li>
          <li>Refer all media inquiries to site’s School Administrator.</li>
        </ul>
      </ul>
    </div>
    <div class="footer">
      &copy; Studio C 2016
    </div>
  </ion-content>
</ion-pane>

