<ion-pane>
  <ion-content>
    <div class="backbutton">
      <a href="../general.html">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 197.402 197.402" style="enable-background:new 0 0 197.402 197.402;" xml:space="preserve" width="20px" height="20px"> <polygon points="146.883,197.402 45.255,98.698 146.883,0 152.148,5.418 56.109,98.698 152.148,191.98"/></svg>
        General</a>
    </div>
    <h1 class="procedure-title">Soft Lockdown</h1>
    <div class="content-wrapper">
      <p class="desc">
        A Soft Lockdown occurs when an outside event or actual threat near the building requires security actions to take place, but instruction continues as normal. Soft Lockdown is a preventative response to rapidly enhance the level of security within the building. In this type of lockdown, all exterior doors and main interior doors are locked, making it more difficult for an intruder to enter the building or gain access to students, but staff and students can continue with productive activities in a limited fashion.
      </p>
      <h2 class="section-heading">Action Steps: </h2>
      <ul class="action-steps">
        <h3 class="section-subheading">If outdoors: </h3>
        <ol>
          <li>Reverse Evacuate.</li>
        </ol>
        <h3 class="section-subheading">If in a portable classroom:</h3>
        <ol>
          <li>If safe and you are instructed to do so, Reverse Evacuate.</li>
        </ol>
        <h3 class="section-subheading">If indoors:</h3>
        <ol>
          <li>Conduct Staff and Student Accounting.</li>
          <li>Do not open exterior doors for anyone.</li>
          <li>Student movement outside of classroom can only occur with adult</li>
          <li>Continue instruction as usual.</li>
          <li>Ensure care for those students with special needs.</li>
          <li>Alert the administration of any unusual or suspicious activity.</li>
          <li>Refer all media inquiries to site’s School Administrator.</li>
        </ol>
      </ul>
    </div>
    <div class="footer">
      &copy; Studio C 2016
    </div>
  </ion-content>
</ion-pane>

