<ion-pane>
  <ion-content>
    <div class="backbutton">
      <a href="../general.html">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 197.402 197.402" style="enable-background:new 0 0 197.402 197.402;" xml:space="preserve" width="20px" height="20px"> <polygon points="146.883,197.402 45.255,98.698 146.883,0 152.148,5.418 56.109,98.698 152.148,191.98"/></svg>
        General</a>
    </div>
    <h1 class="procedure-title">Staff & Student Accounting</h1>
    <div class="content-wrapper">
      <p class="desc">
        Accounting of students and employees is a three step sequential procedure to ensure all students and employees are accounted for. Any time students and staff are moved to a fire drill location, Staff-Student Staging Area, and/or Reunification Site, or a Shelter-in-Place or Hard or Soft Lockdown is enacted, initiate the Staff and Student Accounting Protocol.
      </p>
      <h2 class="section-heading">Action Steps: </h2>
      <h3 class="section-subheading">Teacher/Staff Must Respond by: </h3>
      <ul class="action-steps">
        <li>Taking attendance visually (see) and auditorily (by name) accounting for each student on the class roster and obtaining a count of the students in your care.</li>
      </ul>
      <h3 class="section-subheading">Evacuation: </h3>
      <ul class="action-steps">
        <li>Display teacher identification sign at the fire drill location, Staff-Student Staging Area, and/or Reunification Site.</li>
        <li>Attach Green Card (all present) or Red Card (assistance needed).</li>
        <li>Label each student, if continuing on to Family Reunification site.</li>
        <li>If no students, report to Staff Coordinator for appropriate assignment.</li>
      </ul>
    </div>
    <div class="footer">
      &copy; Studio C 2016
    </div>
  </ion-content>
</ion-pane>

